$theme-dark: rgb(19,18,18);
$secondary: rgb(82, 217, 159);
$featured-category-title: #2d4a41;
$featuredcard-hover-bg: #e0f4ee;
$lightGreen: #00ffaf;
$textPrimary: #333333;
$textGray-1: #828282;
$textGray-2: #888888;
$textSecondary: #555555;
$collapseBg: #fafafa;
$lightColor: #eeeeee;
$formText: #9e9e9e;

$paypalBg: #179bd7;
$paypalFocusBg: #0398dc;
$paypalHoverBg: #2cb1ed;

$blogHeaderBg: #131212;
$dropdownBg: #121111;
$blogHeadBg: rgb(19,18,18);
$searchBackground: rgba(20, 22, 24, 0.95);

$blogTitle: #303133;
$blogTitle-Hover: rgba(48, 49, 51, .5);
$blogText: #777777;
$subscribeBtnHoverBg: #101010;

$bannerBg: #101213;

$subscribeBorder: #6B6B6B;

$blogMenuBg: #1B1D1F;

$noticeBg: #dfdfdf;
$accessBtnBg: #f5f5f5;
$accessActiveBg: #52d9a0;
$accessActiveHoverBg: #50bf90;
$accessActiveFocusBg: #649989;
$cardBorderBottom: #55DCA3;
$filterBorder: rgba(223,223,223,.5);
$searchBorder: #d5d5d5;
$filterBg: #f2f2f2;
$btnHoverBg: #cceee4;

$searchboxBg: #f9f9f9;

$footerText: #b7b7b7;

$educationText: rgb(108, 122, 137);
$jointext: rgb(189, 195, 199);

$darklinkhovercolor: rgba(51, 51, 51, 0.5);
$darkSearchbg: rgba(243,243,243,.16);

$searchFocusBorder: #4fcf99;
$textPlaceholder: #c1c1c1;
$socialHover: rgba(193,193,193,.5);
$bgnBorder: #1a1a1a;
$tabBorder: #ececec;
$checkmarkvalue: #979797;
$likeBtnBorder: #bbbbbb;
$likeBtnHoverBorder: #9c9c9c;
$likeBtnColor: #141414;

$accordionBtnBg: #f0f0f0;

$locationBg: #f4f9f7;

$searchBg: #f3f3f3;
// NORMAL COLORS
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

$clientBg: rgba(53,53,53,.32);
$gradient-1: linear-gradient(to bottom,rgba($black,0.24),$black);
$mobilemenuLink: rgb(248,248,248);
$clientTitle: #33efb4;

$danger: #cc3340;
$errorBg: #fff0f1;
$danger-border: #e35b66;
$inputText: rgb(51, 51, 51);

$contactText: #55595c;
$contactBorder: #dddddd;

$dragBorder: #818a91;
$linkText: #F5941F;
$titleText: #393A39;