// HelveticaNeueLTPro-Lt Regular
@font-face {
    font-family: 'HelveticaNeueLTPro-Lt';
    src: url('../fonts/HelveticaNeueLTPro-Lt/HelveticaNeueLTPro-Lt.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTPro-Lt/HelveticaNeueLTPro-Lt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}