.account,
.jobs {
    @include flex-center;
    @include border-single(bottom, solid, 1, $noticeBg);
    padding: length(64) length(30) length(72);

    @include breakpoint(phone768) {
        padding: length(20) length(16);
    }

    &-content {
        @include flex-center;

        .account-title,
        .jobs-title {
            @include h1-font-style;
            color: $textPrimary;

            @include breakpoint(laptop1100) {
                @include titletext-font-style;
            }

            @include breakpoint(tablet991) {
                @include h2-font-style;
            }
        }
    }
}

.account-main {
    background: $searchBg;
    padding: length(40) length(0) length(64);

    &-content {
        @include flex-center-column;
        gap: length(24);
        max-width: length(570);
        margin: 0 auto;
    }
}

.account-nav {
    &-content {
        @include flex-center;

        .account-navigation {
            padding: length(12) length(0);
            @include flex-center;

            .accountlist {
                @include list-horizontal;
                gap: length(4);
            
                @include breakpoint(phone768) {
                    gap: length(1);
                }

                .accountlist-link {
                    @include text-24-16-normal-basefont;
                    padding: length(12) length(32);
                    display: inline-block;
                    @include setBgColor($white, $textPrimary);
                    @include transition(background $time ease-in-out);
                    @include radius(4);
                    text-align: center;
            
                    @include breakpoint(phone768) {
                        padding: length(12);
                        @include text-20-14-normal-basefont;
                    }
            
                    @include breakpoint(phone480) {
                        @include text-12-12-normal-basefont;
                    }

                    &:hover:not(.active) {
                        @include setBgColor($accessBtnBg, $textPrimary);
                    }
                    
                    &.active {
                        @include setBgColor($accessBtnBg, $textPrimary);
                    }
                }
            }
        }
    }
}

.profile-overview,
.edit-profile-information,
.delete-account {
    padding: length(32) length(40);
    @include radius(4);
    background: $white;
    width: 100%;
    @include flex-column;
    gap: length(40);

    @include breakpoint(phone768) {
        padding: length(24) length(32);
        width: 95%;
        margin: 0 auto;
    }
}

.profile-overview,
.billing-overview {
    .overview-title {
        @include text-24-20-bold-basefont;
        color: $textPrimary;
    }
}

.overviewbox {
    display: flex;
    gap: length(67);

    @include breakpoint(phone768) {
        flex-direction: column;
        gap: length(16);
    }

    .overview {
        width: calc(100% - 8.75rem);
        @include flex-column;
        gap: length(27);

        @include breakpoint(phone768) {
            width: 100%;
            gap: length(10);
        }

        .account-type {
            @include text-24-16-semibold-basefont;
            color: $textPrimary;
        }

        .overview-text {
            @include text-24-16-normal-basefont;
            color: $textGray-1;

            @include breakpoint(phone480) {
                @include text-20-14-normal-basefont;
            }
        }
    }

    .overviewbutton {
        .btn-access {
            width: length(140);
            height: length(44);
            @include flex-center;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.edit-info,
.delete-info {
    @include flex-column;
    gap: length(8);
}

.edit-info {
    .edit-profile-title {
        @include text-24-20-bold-basefont;
        color: $textPrimary;
    }

    .edit-profile-text {
        @include text-20-14-normal-basefont;
        color: $textGray-1;
    }
}

.delete-info {
    .delete-title {
        @include text-24-20-bold-basefont;
        color: $textPrimary;
    }

    .delete-text {
        @include text-20-14-normal-basefont;
        color: $textGray-1;
    }
}

.favorite-main {
    background: $searchBg;
    padding: length(40) length(0);

    &-content {
        @include flex-column;
        gap: length(8);
        padding: length(0) length(40);

        @include breakpoint(phone500) {
            padding: length(0) length(20);
        }

        .favorite-title {
            @include text-24-20-bold-basefont;
            color: $textPrimary;
        }

        .favorite-text {
            @include text-20-14-normal-basefont;
            color: $textGray-1;

            @include breakpoint(phone500) {
                @include text-12-12-normal-basefont;
                line-height: 1.5;
            }
        }
    }
}

.favorite-list {
    background: $white;
    padding: length(40) length(0) length(80);

    &-content {
        .downloads-content {
            padding: length(40) length(0);
            @include flex-center-column;
            gap: length(17);

            @include breakpoint(phone500) {
                padding: length(20) length(10);
            }

            .downloads-icon {
                margin-bottom: length(7);
            }

            .downloads-title {
                @include text-32-24-semibold-basefont;
                color: $textPrimary;
                text-align: center;

                @include breakpoint(phone500) {
                    @include text-24-20-semibold-basefont;
                }
            }

            .textbox {
                max-width: length(340);
                margin: 0 auto;

                @include breakpoint(phone500) {
                    max-width: 100%;
                }

                .downloads-text {
                    @include text-20-14-normal-basefont;
                    color: $textGray-1;
                    text-align: center;

                    @include breakpoint(phone500) {
                        @include text-12-12-normal-basefont;
                        line-height: 1.5;
                    }
                }
            }
        }

        .filter-playlist {
            .playlist {
                &-item {
                    .playlist-top {
                        border-top: 0;
                    }
                }
            }
        }
    }
}

.billing-main {
    background: $searchBg;
    padding: length(40) length(0);
    @include flex-center;

    @include breakpoint(tablet991) {
        padding: length(20) length(0) length(40);
    }

    &-content {
        display: flex;
        gap: length(40);
        max-width: length(780);
        margin-left: length(160);
        margin-right: auto;

        @include breakpoint(desktop1400) {
            margin-left: length(70);
        }

        @include breakpoint(desktop1200) {
            margin-left: length(-20);
        }

        @include breakpoint(tablet991) {
            flex-direction: column;
            max-width: 100%;
            width: 100%;
            margin: 0 auto;
            gap: length(20);
        }

        .billing-sidebar {
            width: length(170);

            @include breakpoint(tablet991) {
                width: 100%;
            }

            .billinglist {
                @include list-vertical;

                @include breakpoint(tablet991) {
                    flex-direction: row;
                    justify-content: center;
                    gap: length(4);
                }

                .billinglist-link {
                    display: inline-block;
                    width: 100%;
                    padding: length(14) length(16);
                    @include radius(4);
                    @include text-20-14-normal-basefont;
                    @include setBgColor(transparent, $textPrimary);
                    @include transition(background $time ease-in-out);

                    @include breakpoint(tablet991) {
                        padding: length(6);
                    }

                    @include breakpoint(phone768) {
                        @include text-12-12-normal-basefont;
                        padding: length(4);
                    }

                    @include hover {
                        @include setBgColor($tabBorder, $textPrimary);

                        @include breakpoint(tablet991) {
                            background: transparent;
                        }
                    }

                    &.active {
                        @include setBgColor($white, $textPrimary);
                        font-weight: bold;

                        @include breakpoint(tablet991) {
                            background: transparent;
                        }
                    }
                }
            }
        }

        .billing-invoices {
            @include flex-column;
            gap: length(24);
            max-width: length(570);
            width: 100%;

            @include breakpoint(tablet991) {
                max-width: 80%;
                margin: 0 auto;
            }

            @include breakpoint(phone768) {
                max-width: 100%;
            }

            .billing-information,
            .payment-information,
            .invoices-information,
            .company-address,
            .vat-informations{
                padding: length(32) length(40);
                @include radius(4);
                background: $white;
                width: 100%;
                @include flex-column;
                gap: length(40);
            
                @include breakpoint(phone768) {
                    padding: length(24) length(32);
                    width: 95%;
                    margin: 0 auto;
                }
            }

            .billing-information {
                .billing-info {
                    @include flex-column;
                    gap: length(8);

                    &-title {
                        @include text-24-20-bold-basefont;
                        color: $textPrimary;
                    }

                    &-text {
                        @include text-20-14-normal-basefont;
                        color: $textGray-1;
    
                        @include breakpoint(phone500) {
                            @include text-12-12-normal-basefont;
                            line-height: 1.5;
                        }
                    }
                }
            }

            .payment-information {
                .payment-info {
                    @include flex-column;
                    gap: length(8);
                    
                    &-title {
                        @include text-24-20-bold-basefont;
                        color: $textPrimary;
                    }

                    &-text {
                        @include text-20-14-normal-basefont;
                        color: $textGray-1;
    
                        @include breakpoint(phone500) {
                            @include text-12-12-normal-basefont;
                            line-height: 1.5;
                        }
                    }
                }

                .paymenttext {
                    @include text-20-14-normal-basefont;
                    color: $textGray-1;

                    @include breakpoint(phone500) {
                        @include text-12-12-normal-basefont;
                        line-height: 1.5;
                    }
                }
            }

            .invoices-information {
                .invoices-info {
                    @include flex-column;
                    gap: length(8);
                    
                    &-title {
                        @include text-24-20-bold-basefont;
                        color: $textPrimary;
                    }

                    &-text {
                        @include text-20-14-normal-basefont;
                        color: $textGray-1;
    
                        @include breakpoint(phone500) {
                            @include text-12-12-normal-basefont;
                            line-height: 1.5;
                        }
                    }
                }
            }

            .company-address {
                padding: length(40);

                .address-info {
                    @include flex-column;
                    gap: length(8);

                    &-title {
                        @include text-24-20-bold-basefont;
                        color: $textPrimary;
                    }

                    &-text {
                        @include text-20-14-normal-basefont;
                        color: $textGray-1;
    
                        @include breakpoint(phone500) {
                            @include text-12-12-normal-basefont;
                            line-height: 1.5;
                        }
                    }
                }
            }

            .vat-informations {
                .vat-info {
                    @include flex-column;
                    gap: length(8);

                    &-title {
                        @include text-24-20-bold-basefont;
                        color: $textPrimary;
                    }

                    &-text {
                        @include text-20-14-normal-basefont;
                        color: $textGray-1;
    
                        @include breakpoint(phone500) {
                            @include text-12-12-normal-basefont;
                            line-height: 1.5;
                        }
                    }
                }
            }
        }
    }
}

.billing-overview {
    padding: length(32) length(40);
    @include radius(4);
    background: $white;
    width: 100%;
            
    @include breakpoint(phone768) {
        padding: length(24) length(20);
    }

    .account-type {
        padding: length(40) length(0) length(0);
        @include flex-column;
        gap: length(28);
        
        .type {
            @include flex-between;

            .headings {
                @include flex-column;
                gap: length(2);

                .title {
                    @include text-24-16-semibold-basefont;
                    color: $textPrimary;

                    @include breakpoint(phone768) {
                        @include text-20-14-semibold-basefont;
                    }
                }

                .package {
                    @include text-32-24-medium-basefont;
                    color: $subtitle;

                    @include breakpoint(phone768) {
                        @include text-24-20-medium-basefont;
                    }
                }
            }

            .icon {
                @include square(length(64));
                @include circle;
                
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .text {
            @include text-24-16-medium-basefont;
            color: $textGray-1;
        }
    }
    
    .divider {
        height: length(1);
        background: $tabBorder;
        margin: length(24) length(-40) length(21);
    }

    .downloads-deadline {
        @include flex-between;
        margin-bottom: length(30);

        .downloads,
        .deadlines {
            @include flex-column;
            gap: length(21);

            .titles {
                @include flex-column;
                gap: length(2);

                .title {
                    @include text-24-16-semibold-basefont;
                    color: $textPrimary;

                    @include breakpoint(phone768) {
                        @include text-20-14-semibold-basefont;
                    }
                }

                .subtitle {
                    @include text-32-24-medium-basefont;
                    color: $subtitle;

                    @include breakpoint(phone768) {
                        @include text-24-20-medium-basefont;
                    }
                }
            }

            .renewalbox {
                @include flex-column;
                gap: length(2);

                .title {
                    @include text-24-16-semibold-basefont;
                    color: $textPrimary;
                }
            }
        }
    }

    .text {
        @include text-12-12-normal-basefont;
        line-height: 1.75;
        color: $formText;
    }
}

.invoices {
    padding: length(32) length(40);
    @include radius(4);
    background: $white;
    width: 100%;
    @include flex-column;
    gap: length(40);
            
    @include breakpoint(phone768) {
        padding: length(24) length(20);
    }

    &-header {
        @include flex-column;
        gap: length(8);

        .title {
            @include text-24-20-bold-basefont;
            color: $textPrimary;
        }

        .text {
            @include text-12-12-normal-basefont;
            line-height: 1.75;
            color: $formText;
        }
    }

    .descriptions {
        .heading {
            padding: length(11) length(0) length(13);

            .title {
                @include text-24-16-semibold-basefont;
                color: $textPrimary;
            }
        }
    
        .details {
            @include flex-between;
            gap: length(48);

            @include breakpoint(phone768) {
                gap: length(24);
            }

            .date-price {
                width: 50%;
                @include flex-between;
    
                .date {
                    @include text-20-14-normal-basefont;
                    color: $textPrimary;
                }
    
                .price {
                    @include text-20-14-normal-basefont;
                    color: $textGray-1;
                }
            }
    
            .view-download {
                width: 50%;
                @include flex-between;
    
                .btn-view {
                    @include transparent-button;
                    @include text-20-14-normal-basefont;
                    color: $accessActiveBg;
                    @include transition(color $time ease-in-out);
    
                    @include hover {
                        color: $accessActiveHoverBg;
                    }
                }
            }
        }
    }
}

.invoice-receipt {
    width: 100%;
    text-align: left;

    .logo {
        @include flex-center-vert;
        gap: length(4);
        overflow: hidden;
        
        svg {
            @include square(length(24));
        }

        .brand-title {
            color: $black;
            font-weight: 700;
        }
    }

    table {
        margin-top: length(32);
        width: 100%;

        tbody {
            tr {
                td {
                    vertical-align: top;
                    @include text-20-14-normal-basefont;
                    color: $textPrimary;
                }
            }
        }
    }

    .order-details {
        tbody {
            tr {
                th {
                    border: inherit;
                    @include text-20-14-normal-basefont;
                    color: $textPrimary;
                    padding: length(8) length(0);
                }

                td {
                    @include border-single(top, solid, 1, $noticeBg);
                    padding: length(8) length(0);
                }

                .invoice-title {
                    font-weight: 700;
                }
                
                .invoice-amount {
                    font-weight: 400;
                    text-align: right;
                }
            }

            .total {
                .invoice-title {
                    text-align: right;
                    @include text-28-18-bold-basefont;
                }
            }
        }
    }
}

.toaster {
    position: fixed;
    top: length(96);
    left: length(38);

    @include breakpoint(phone768) {
        top: length(75);
        left: length(15);
        right: length(15);
    }
}

.toast {
    width: length(400);
    max-width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border: none;
    box-shadow: none;
    @include radius(4);

    @include breakpoint(phone768) {
        width: 95%;
        margin: 0 auto;
    }

    &-body {
        .descriptons {
            @include flex-center-vert;

            .icon {
                @include square(length(32));
                @include flex-center;
                @include border(solid, 1, $white);
                @include circle;

                svg {
                    @include square(length(18));
                }
            }

            .text {
                @include text-20-14-medium-basefont;
                line-height: 1.3;
                color: $white;
                width: calc(100% - 4rem);
                padding-left: length(16);
            }

            .btn-close {
                background: transparent;
                @include square(length(32));
                @include flex-center;
                padding: length(0);
                @include radius(0);
                opacity: 1;

                svg {
                    width: 100%;
                    height: 100%;

                    @include transition(transform $time ease);

                    path {
                        @include transition(fill $time ease);
                    }
                }

                @include hover {
                    opacity: 1;

                    svg {
                        @include transform(rotate(360deg));
    
                        path {
                            color: $textGray-1;
                        }
                    }
                }
            }
        }
    }
}

.toast-danger {
    background-color: $toastDanger;
}

.toast-warning {
    background-color: $warning;
}

.toast-info {
    background-color: $info;
}

.toast-success {
    background-color: $accessActiveBg;
}

.payment-method {
    padding: length(32) length(40);
    @include radius(4);
    background: $white;
    width: 100%;
    @include flex-column;
    gap: length(40);
            
    @include breakpoint(phone768) {
        padding: length(24) length(20);
    }

    &-header {
        @include flex-column;
        gap: length(8);

        .title {
            @include text-24-20-bold-basefont;
            color: $textPrimary;
        }

        .text {
            @include text-12-12-normal-basefont;
            line-height: 1.75;
            color: $formText;
        }
    }

    &-cardinfo {
        .title {
            @include text-20-14-normal-basefont;
            color: $textGray-1;
            text-transform: uppercase;
        }

        .cardinfo {
            @include flex-center-vert;
            gap: length(14);
            margin-bottom: length(8);

            .cardnumber {
                @include text-14-14-normal-basefont;
                color: $textPrimary;

                .number {
                    @include text-28-18-medium-basefont;
                    color: inherit;
                }
            }

            .paymenticon {
                width: length(36);
                height: length(24);

                svg {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .expires {
            @include text-20-14-normal-basefont;
            color: $textGray-1;
        }
    }
}

.paymentform {
    @include flex-column;
    gap: length(20);

    .formrow {
        @include flex-center-vert;
        gap: length(26);

        @include breakpoint(phone768) {
            flex-direction: column;
            align-items: flex-start;
        }

        .formcol {
            width: 50%;
            @include flex-column;
            gap: length(8);
            height: length(70);

            @include breakpoint(phone768) {
                width: 100%;
            }

            .expired-date {
                @include flex-center-between;
                gap: length(20);

                .expired,
                .date {
                    width: 50%;
                    @include flex-column;
                    gap: length(8);
                    height: length(70);

                    .form-floating {
                        .formlabel {
                            @include text-14-14-normal-basefont;
                            color: $textGray-1;
        
                            .required {
                                color: $danger;
                            }
                        }
        
                        .form-control {
                            @include text-14-14-normal-basefont;
                            color: $textPrimary;
        
                            &:focus {
        
                                ~ .formlabel {
                                    @include text-12-12-normal-basefont;
                                }
                            }
                        }
                    }
        
                    .error-message {
                        @include text-12-12-normal-basefont;
                        color: $danger;
                        display: none;
                    }
        
                    &.error {
                        .form-floating {
                            .form-control {
                                border-color: $danger;
                            }
        
                            .formlabel {
                                color: $danger;
                            }
                        }
        
                        .error-message {
                            display: block;
                        }
                    }
                }
            }

            .card-cvv {
                @include flex-center-between;
                gap: length(20);

                .cvvcard  {
                    .form-floating {
                        .formlabel {
                            @include text-14-14-normal-basefont;
                            color: $textGray-1;
        
                            .required {
                                color: $danger;
                            }
                        }
        
                        .form-control {
                            @include text-14-14-normal-basefont;
                            color: $textPrimary;
        
                            &:focus {
                                ~ .formlabel {
                                    @include text-12-12-normal-basefont;
                                }
                            }
                        }
                    }
        
                    .error-message {
                        @include text-12-12-normal-basefont;
                        color: $danger;
                        display: none;
                    }
        
                    &.error {
                        .form-floating {
                            .form-control {
                                border-color: $danger;
                            }
        
                            .formlabel {
                                color: $danger;
                            }
                        }
        
                        .error-message {
                            display: block;
                        }
                    }
                }
            }

            .form-floating {
                .formlabel {
                    @include text-14-14-normal-basefont;
                    color: $textGray-1;

                    .required {
                        color: $danger;
                    }
                }

                .form-control {
                    @include text-14-14-normal-basefont;
                    color: $textPrimary;

                    &:focus {

                        ~ .formlabel {
                            @include text-12-12-normal-basefont;
                        }
                    }
                }
            }

            .error-message {
                @include text-12-12-normal-basefont;
                color: $danger;
                display: none;
            }

            &.error {
                .form-floating {
                    .form-control,
                    .form-select {
                        border-color: $danger;
                    }

                    .formlabel {
                        color: $danger;
                    }
                }

                .error-message {
                    display: block;
                }
            }
        }

        .cardbox {
            @include flex-column;
            gap: length(8);
            width: 100%;
            height: length(70);

            .cardnumber {
                height: length(50);
                @include border(solid, 1, $searchBorder);
                @include radius(4);
                @include transition(border $time ease-in-out);

                &:focus-within {
                    border-color: $darklinkhovercolor;
                }
            }

            .error-message {
                @include text-12-12-normal-basefont;
                color: $danger;
                display: none;
            }

            &.error {
                border-color: $danger;
                
                .cardnumber {
                    border-color: $danger;

                    .inputfield {
                        color: $danger;
                    }
                }
                
                .inputfield {
                    color: $danger;
                }

                .error-message {
                    display: block;
                }
            }
        }
    }

    .text {
        @include text-14-14-normal-basefont;
        line-height: 1.75;
        color: $formText;
        margin: length(-12) length(0) length(20);
    }
}