.blog-banner {
    display: flex;
    margin-bottom: length(72);
    height: length(602);

    @include breakpoint(tablet991) {
        flex-direction: column;
        height: auto;
    }

    &-left {
        width: 50%;
        height: 100%;
        overflow: hidden;

        @include breakpoint(tablet991) {
            width:100%;
        }

        .bloglink {
            display: block;
            position: relative;
            height: 100%;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: rgba($black, 0.5);
                z-index: 100;
            }

            .title {
                position: absolute;
                left: length(0);
                bottom: length(0);
                padding: length(28);
                @include h1-font-style;
                color: $white;
                z-index: 105;
                @include transition(color $time ease);

                @include breakpoint(desktop1400) {
                    @include price-font-style;
                }

                @include breakpoint(phone575) {
                    @include faqtitle-font-style;
                }

                @include hover {
                    color: rgba($white, 0.65);
                }
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &-right {
        width: 50%;

        @include breakpoint(tablet991) {
            width:100%;
        }

        &-top, &-bottom {
            width: 100%;
            display: flex;
            height: length(301);

            @include breakpoint(tablet991) {
                height: auto;
            }

            @include breakpoint(phone575) {
                flex-direction: column;
            }

            .bloglink {
                display: block;
                width: 50%;
                position: relative;
                height: 100%;
                overflow: hidden;

                @include breakpoint(tablet991) {
                    height: length(345);
                }

                @include breakpoint(phone575) {
                    width: 100%;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba($black, 0.5);
                    z-index: 100;
                }

                .title {
                    position: absolute;
                    left: length(0);
                    bottom: length(0);
                    padding: length(28);
                    @include text-28-24-semibold-basefont;
                    color: $white;
                    z-index: 105;
                    @include transition(color $time ease);

                    @include breakpoint(desktop1400) {
                        @include text-24-20-semibold-basefont;
                    }

                    @include hover {
                        color: rgba($white, 0.65);
                    }
                }
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.blog-main {
    margin-bottom: length(36);
    
    &-content {
        @include flex-column;
        gap: length(72);
    }
}

.blog-essential {
    display: flex;

    @include breakpoint(tablet991) {
        flex-direction: column;
    }

    &-left,
    &-right {
        width: 50%;
        position: relative;

        @include breakpoint(tablet991) {
            width: 100%;
        }

        .title {
            position: absolute;
            left: 50%;
            top: 50%;
            @include transform(translate(-50%, -50%));
            @include faqtitle-font-style;
            color: $white;
            z-index: 105;
            @include transition(color $time ease);
            text-align: center;
            width: 100%;
            padding: length(20);

            @include breakpoint(desktop1199) {
                @include h2-font-style;
            }

            @include breakpoint(phone575) {
                @include text-28-20-bold-basefont;
            }

            @include hover {
                color: rgba($white, 0.65);
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: rgba($black, 0.5);
            z-index: 100;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.subscribe-section {
    background: $black;
    padding: length(144) length(36);

    @include breakpoint(tablet991) {
        padding: length(72) length(36);
    }

    @include breakpoint(phone500) {
        padding: length(36) length(0);
    }

    &-content {
        @include flex-center-vert;
        gap: length(36);

        @include breakpoint(tablet991) {
            flex-direction: column;
            align-items: flex-start;
        }

        .premiumbox,
        .subscribebox {
            width: 50%;
            padding: length(36) length(48);
            @include flex-center-column;
            gap: length(28);
            @include border-single(top, solid, 3, $subscribeBorder);
            @include border-single(bottom, solid, 1, rgba($white, 0.2));
            @include border-single(left, solid, 1, rgba($white, 0.2));
            @include border-single(right, solid, 1, rgba($white, 0.2));

            @include breakpoint(tablet991) {
                width: 100%;
            }

            @include breakpoint(phone500) {
                padding: length(36) length(24);
            }

            .title {
                @include text-28-24-medium-basefont;
                color: $white;
                text-align: center;

                @include breakpoint(phone500) {
                    @include text-28-18-medium-basefont;
                }

                @include breakpoint(phone480) {
                    @include text-24-16-medium-basefont;
                }
            }
        }

        .subscribebox {
            .form-subscribe {
                .inputbox {
                    @include flex-center-vert;
                    gap: length(4);

                    @include breakpoint(phone768) {
                        flex-wrap: wrap;
                        gap: length(12);
                    }

                    .inputfield {
                        @include text-20-16-normal-basefont;
                        @include setBgColor($subscribeBtnHoverBg, $white);
                        @include radius(3);
                        padding: length(16);
                        min-height: length(45);
                        min-width: length(350);

                        @include breakpoint(phone500) {
                            width: 100%;
                            min-width: 100%;
                            @include text-20-14-normal-basefont;
                        }
                    }

                    .btn-subscribe {
                        @include breakpoint(phone768) {
                            width: 50%;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}

.blog-single {
    height: length(424);
    display: flex;
    gap: length(28);

    @include breakpoint(tablet991) {
        flex-direction: column;
        height: auto;
    }

    .blog-cover {
        .bloglink {
            display: block;
            width: length(780);
            height: 100%;
            position: relative;
            overflow: hidden;

            @include breakpoint(desktop1400) {
                width: length(650);
            }

            @include breakpoint(desktop1199) {
                width: length(550);
            }

            @include breakpoint(tablet991) {
                width: 100%;
                min-height: length(340);
            }

            @include breakpoint(phone575) {
                min-height: length(220);
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: rgba($black, 0.15);
                z-index: 100;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .details {
        @include flex-column;
        gap: length(12);

        .bloglink {
            display: block;

            .title {
                @include faqtitle-font-style;
                color: $blogTitle;
                @include transition(color $time ease);

                @include breakpoint(desktop1400) {
                    @include text-28-24-semibold-basefont;
                }

                @include breakpoint(phone575) {
                    @include text-28-20-bold-basefont;
                }

                @include hover {
                    color: $blogTitle-Hover;
                }
            }
        }

        .text {
            @include text-24-20-normal-basefont;
            line-height: 1.5;
            color: $blogText;

            @include breakpoint(desktop1400) {
                @include text-28-18-normal-basefont;
            }

            @include breakpoint(phone575) {
                @include text-24-16-normal-basefont;
            }
        }
    }
}

.blogsingle-banner {
    padding: length(36);
    background: $bannerBg;
    
    &-content {
        @include flex-center-column;
        
        .titlebox {
            min-height: length(200);
            @include flex-center;
            
            .title {
                @include text-48-34-normal-basefont;
                font-weight: bold;
                color: $white;

                @include breakpoint(phone480) {
                    @include text-32-24-semibold-basefont;
                }
            }
        }
        
        .btn-scroll {
            @include transition(transform $time ease);
            
            @include hover {
                @include transform(translateY(length(5)));
            }
        }
    }
}

.blogsingle-main {
    padding: length(72) length(24);

    @include breakpoint(phone500) {
        padding: length(36) length(0);
    }
    
    &-content {
        @include flex-center-vert;
        gap: length(18);
        flex-wrap: wrap;

        @include breakpoint(tablet991) {
            @include flex-center;
        }
    }
}


