.checkout-banner {
    background: $black;
    padding: length(0) length(30) length(60);
    height: length(260);
}

.checkout-content {
    @include flex-center;
    background: $filterBg;
    min-height: calc(100vh - 20.25rem);
}

.checkoutbox {
    background: $white;
    box-shadow: $box-shadow-3;
    width: length(770);
    margin-top: length(-230);
    position: relative;
    @include flex-column;
    gap: length(12);
    padding: length(16) length(56) length(40);
    @include radius(4);

    @include breakpoint(tablet991) {
        width: calc(100% - 2.5rem);
        margin-left: auto;
        margin-right: auto;
    }

    @include breakpoint(phone575) {
        padding-left: length(16);
        padding-right: length(16);
    }

    .icon {
        @include square(length(56));
        @include circle;
        background: $white;
        padding: length(4);
        top: length(-28);
        left: 50%;
        @include transform(translateX(-50%));
        position: absolute;
        overflow: hidden;
        @include border(solid, 1, $tabBorder);

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .checkout-header {
        @include flex-center-column;
        background: $white;

        .title {
            @include faqtitle-font-style;
            color: $textPrimary;
        }

        .checkouttext {
            @include text-24-16-normal-basefont;
            color: $textGray-1;
        }
    }
}

.checkout-form {
    .formrow {
        @include flex-center-vert;
        gap: length(26);

        @include breakpoint(phone768) {
            flex-direction: column;
            align-items: flex-start;
        }

        .formcol {
            width: 50%;
            @include flex-column;
            gap: length(8);
            height: length(78);

            @include breakpoint(phone768) {
                width: 100%;
            }

            .form-floating {
                .formlabel {
                    @include text-14-14-normal-basefont;
                    margin-top: length(5);
                    color: $textGray-1;

                    .required {
                        color: $danger;
                    }
                }

                .form-select,
                .form-control {
                    @include text-14-14-normal-basefont;
                    color: $textPrimary;

                    &:focus {
                        ~ .formlabel {
                            @include text-12-12-normal-basefont;
                        }
                    }
                }
            }

            .error-message {
                @include text-12-12-normal-basefont;
                color: $danger;
                // margin-left: length(13);
                display: none;
            }

            &.error {
                .form-floating {
                    .form-select,
                    .form-control {
                        border-color: $danger;
                    }

                    .formlabel {
                        color: $danger;
                    }
                }

                .error-message {
                    display: block;
                }
            }
        }
    }
}

.form-select,
.form-control {
    @include border(solid, 1, $searchBorder);

    &::placeholder {
        color: $textGray-1;
    }

    &:focus {
        box-shadow: none;
        outline: none;
        border-color: $darklinkhovercolor;
    }
}

.credit-debit-paypal-info {
    margin: length(20) length(0) length(0);
    @include flex-column;
    gap: length(24);

    .nav-tabs {
        margin: length(0) length(-56);
        padding: length(0) length(56);
        @include border-single(bottom, solid, 1, $searchBorder);

        .nav-item {
            width: 50%;
        }

        .nav-link {
            margin-bottom: 0;
            background: $white;
            border: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            @include border-single(bottom, solid, 2, transparent);
            width: 100%;
            @include text-14-14-semibold-basefont;
            color: $textPrimary;
            padding: length(12) length(0);

            &.active {
                border-color: $textPrimary;
            }
        }
    }
}

.creditdebit-form {
    @include flex-column;
    gap: length(20);

    .formrow {
        @include flex-center-vert;
        gap: length(26);

        @include breakpoint(phone768) {
            flex-direction: column;
            align-items: flex-start;
        }

        .formcol {
            width: 50%;
            @include flex-column;
            gap: length(8);

            @include breakpoint(phone768) {
                width: 100%;
            }

            .form-floating {

                .formlabel {
                    @include text-14-14-normal-basefont;
                    margin-top: length(5);
                    color: $textGray-1;

                    .required {
                        color: $danger;
                    }
                }

                .form-control {
                    @include text-14-14-normal-basefont;
                    color: $textPrimary;

                    &:focus {

                        ~ .formlabel {
                            @include text-12-12-normal-basefont;
                        }
                    }
                }
            }

            .error-message {
                @include text-12-12-normal-basefont;
                color: $danger;
                display: none;
            }

            &.error {
                .form-floating {
                    .form-control {
                        border-color: $danger;
                    }

                    .formlabel {
                        color: $danger;
                    }
                }

                .error-message {
                    display: block;
                }
            }
        }

        .cardbox {
            @include flex-column;
            gap: length(8);
            @include border(solid, 1, $searchBorder);
            width: 100%;
            @include radius(4);
            height: length(48);
            margin-bottom: length(20);

            @include breakpoint(phone768) {
                margin-bottom: length(30);
            }

            .error-message {
                @include text-12-12-normal-basefont;
                color: $danger;
                display: none;
            }

            .inputbox {
                padding: length(8) length(12);

                .cardnumber {
                    @include flex-center-vert;
                    gap: length(8);
                    width: 60%;

                    @include breakpoint(phone575) {
                        width: 44%;
                    }

                    .cardicon {
                        width: length(48);
                        height: length(25);
                        @include flex-center;

                        @include breakpoint(phone575) {
                            width: length(28);
                        }
                    
                        svg {
                            height: 100%;
                        }
                    }

                    .inputfield {
                        width: calc(100% - 3.5rem);
                        @include text-14-14-normal-basefont;
                        text-align: left;
                        padding: length(8) length(0);
                        @include setBgColor(transparent, $inputText);

                        @include breakpoint(phone575) {
                            width: calc(100% - 1.75rem);
                            @include text-12-12-normal-basefont;
                        }
                    }
                }

                .deadline {
                    width: 20%;
                    overflow: hidden;

                    @include breakpoint(phone575) {
                        width: 28%;
                    }

                    .inputfield {
                        width: 100%;
                        text-align: center;
                        @include text-14-14-normal-basefont;
                        @include setBgColor(transparent, $inputText);
                        padding: length(8) length(12);

                        @include breakpoint(phone575) {
                            @include text-12-12-normal-basefont;
                        }
                    }
                }

                .cvv {
                    width: 20%;
                    overflow: hidden;

                    @include breakpoint(phone575) {
                        width: 28%;
                    }

                    .inputfield {
                        width: 100%;
                        text-align: center;
                        @include text-14-14-normal-basefont;
                        @include setBgColor(transparent, $inputText);
                        padding: length(8) length(12);

                        @include breakpoint(phone575) {
                            @include text-12-12-normal-basefont;
                        }
                    }
                }
            }

            &.error {
                border-color: $danger;

                .inputbox {
                    .cardnumber {
                        .inputfield {
                            color: $danger;
                        }
                    }
                    
                    .inputfield {
                        color: $danger;
                    }
                }

                .error-message {
                    display: block;
                }
            }
        }
    }

    
}

.submitform {
    .btn-submit {
        width: 100%;
        margin: length(24) length(0);
        @include radius(4);
        padding: length(14);
        @include transition(background $time ease);
    }

    .btn-debit {
        @include setBgColor($accessActiveBg, $white);

        @include hover {
            background: $accessActiveHoverBg;
        }

        &:focus {
            background: $accessActiveFocusBg;
        }
    }
    
    .btn-paypal {
        @include setBgColor($paypalBg, $white);
        box-shadow: $box-shadow-4;

        @include hover {
            background: $paypalHoverBg;
        }

        &:focus {
            background: $paypalFocusBg;
        }
    }
}

.paypal-form {
    @include flex-column;
    gap: length(20);

    .form-title {
        @include text-14-14-normal-basefont;
        color: $textGray-1;
        text-align: center;
        padding: length(10);
    }
}

.invoice-promo {
    @include flex-center-between;

    .btn-invoice,
    .btn-promo {
        @include transparent-button;
        @include text-12-12-normal-basefont;
        color: $textGray-1;
    }
}

.promocode {
    gap: length(8);
    display: none;

    &.show {
        @include flex-column;
    }

    .form-floating {
        .formlabel {
            @include text-14-14-normal-basefont;
            margin-top: length(5);
            color: $textGray-1;

            .required {
                color: $danger;
            }
        }

        .form-control {
            @include text-14-14-normal-basefont;
            color: $textPrimary;

            &:focus {
                ~ .formlabel {
                    @include text-12-12-normal-basefont;
                }
            }
        }
    }

    .error-message {
        @include text-12-12-normal-basefont;
        color: $danger;
        display: none;
    }

    &.error {
        .form-floating {
            .form-control {
                border-color: $danger;
            }

            .formlabel {
                color: $danger;
            }
        }

        .error-message {
            display: block;
        }
    }
}

.invoicebox {
    gap: length(20);
    display: none;

    &.show {
        @include flex-column;
    }

    .inputbox {
        width: 100%;
        @include flex-column;
        gap: length(8);
        align-items: flex-start;

        .form-floating {
            width: 100%;

            .formlabel {
                @include text-14-14-normal-basefont;
                margin-top: length(5);
                color: $textGray-1;

                .required {
                    color: $danger;
                }
            }

            .form-control {
                @include text-14-14-normal-basefont;
                color: $textPrimary;

                &:focus {
                    ~ .formlabel {
                        @include text-12-12-normal-basefont;
                    }
                }
            }
        }

        .error-message {
            @include text-12-12-normal-basefont;
            color: $danger;
            display: none;
        }
    
        &.error {
            .form-floating {
                .form-control {
                    border-color: $danger;
                }
    
                .formlabel {
                    color: $danger;
                }
            }
    
            .error-message {
                display: block;
            }
        }
    }

    .inputrow {
        @include flex-center-vert;
        gap: length(26);

        @include breakpoint(phone768) {
            flex-direction: column;
            align-items: flex-start;
        }

        .inputcol {
            width: 50%;
            @include flex-column;
            gap: length(8);

            @include breakpoint(phone768) {
                width: 100%;
            }

            .form-floating {
                .formlabel {
                    @include text-14-14-normal-basefont;
                    margin-top: length(5);
                    color: $textGray-1;

                    .required {
                        color: $danger;
                    }
                }

                .form-control {
                    @include text-14-14-normal-basefont;
                    color: $textPrimary;

                    &:focus {

                        ~ .formlabel {
                            @include text-12-12-normal-basefont;
                        }
                    }
                }
            }

            .error-message {
                @include text-12-12-normal-basefont;
                color: $danger;
                display: none;
            }

            &.error {
                .form-floating {
                    .form-control {
                        border-color: $danger;
                    }

                    .formlabel {
                        color: $danger;
                    }
                }

                .error-message {
                    display: block;
                }
            }
        }
    }
}

.paymentcards {
    @include flex-center;
    gap: length(8);
}