.puresound {
    display: flex;
    min-height: 100vh;

    @include breakpoint(tablet991) {
        flex-direction: column;
    }

    &-box {
        padding: length(0) length(80);
        @include flex-column;
        gap: length(50);
        width: 40%;

        @include breakpoint(desktop1400) {
            width: 50%;
        }

        @include breakpoint(desktop1199) {
            padding: length(0) length(40);
        }

        @include breakpoint(tablet991) {
            width: 100%;
            padding: length(0) length(24) length(80);
            gap: length(0);
        }

        @include breakpoint(phone500) {
            padding: length(0) length(0) length(40);
        }

        .puresoundlogo {
            width: length(150);
            height: length(40);
            padding: length(60) 0;
            display: flex;
            align-items: flex-start;

            @include breakpoint(tablet991) {
                margin: 0 auto;
            }
    
            .logo {
                display: block;
                width: 100%;
                height: length(40);

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .formbox {
            @include flex-column;
            gap: length(20);

            @include breakpoint(tablet991) {
                padding: length(0) length(24);
            }

            .formdescriptions {
                @include flex-column;
                gap: length(20);

                @include breakpoint(tablet991) {
                    align-items: center;
                    text-align: center;
                    padding: length(0) length(50);
                }

                @include breakpoint(phone500) {
                    padding: length(0) length(16);
                }

                .title {
                    @include text-48-34-bold-basefont;
                    color: $textPrimary;

                    @include breakpoint(phone500) {
                        @include text-28-20-bold-basefont;
                    }
                }

                .text {
                    @include text-24-16-normal-basefont;
                    color: $textGray-1;

                    @include breakpoint(phone500) {
                        @include text-20-14-normal-basefont;
                    }
                }
            }
        }
    }

    .puresound-descriptions {
        padding: length(80);
        @include flex-center-column;
        background-color: $black;
        width: 60%;

        @include breakpoint(desktop1400) {
            width: 50%;
        }

        @include breakpoint(desktop1199) {
            padding: length(40);
        }

        @include breakpoint(tablet991) {
            width: 100%;
            align-items: center;
            gap: length(0);
            text-align: center;
            padding: length(24);
        }

        .description {
            max-width: length(450);
            @include flex-center-column;
            gap: length(20);
        
            @include breakpoint(desktop1199) {
                max-width: 100%;
            }

            hgroup {
                @include flex-center-column;
                gap: length(20);

                .title {
                    @include text-20-14-normal-basefont;
                    color: $textSecondary;
                    text-align: center;
                }

                .subtitle {
                    @include text-36-28-normal-basefont;
                    color: $white;
                    text-align: center;

                    @include breakpoint(tablet991) {
                        @include text-32-24-normal-basefont;
                    }

                    @include breakpoint(phone500) {
                        @include text-28-20-semibold-basefont;
                    }
                }
            }

            .price {
                @include text-24-16-normal-basefont;
                color: $textGray-1;
                text-align: center;
            }
        }
    }
}

.login-form,
.reset-form,
.register-form,
.edit-profile-form,
.delete-form,
.vat-form,
.address-form {
    .input-box {
        @include flex-column;
        gap: length(8);
        width: 100%;

        .error-message {
            @include text-14-14-medium-basefont;
            color: $danger;
            display: none;
        }

        .signingup-text {
            @include flex-column;
            gap: length(6);

            .text {
                @include text-12-12-medium-basefont;
                color: $formText;
            }
        }

        &.error {
            .form-floating {
                .form-control,
                .form-select {
                    border-color: $danger;
                }
            }

            .error-message {
                display: block;
            }

            .form-check {
                &-label {
                    &::before {
                        border-color: $danger;
                    }
                }
            }
        }
    }
}

.edit-profile-form,
.delete-form,
.vat-form,
.address-form {
    @include flex-column;
    gap: length(20);

    .editform-submit,
    .deleteform-submit,
    .vat-submit,
    .address-submit {
        margin-top: length(12);
    }
}

.form-check {
    @include transition(all $time ease);
    padding-left: length(24);

    &-input {
        opacity: 0;
        margin-left: 0;

        &:checked {
            ~ .form-check-label {
                &::before {
                    border-color: $lightGreen;
                    background: $lightGreen;
                }

                &::after {
                    opacity: 1;
                }
            }
        }
    }

    &-label {
        position: relative;
        cursor: pointer;
        @include transition(all $time ease);
        @include text-30-12-normal-basefont;
        line-height: 1;
        color: $textGray-1;
        
        @include breakpoint(phone500) {
            @include text-30-12-normal-basefont;
            line-height: 1;
        }

        .formlink {
            @include text-30-12-bold-basefont;
            line-height: 1;
            color: $accessActiveBg;
            @include transition(color $time ease);

            @include hover {
                color: $accessActiveHoverBg;
            }
        
            @include breakpoint(phone500) {
                @include text-30-12-normal-basefont;
                line-height: 1;
            }
        }

        &:hover {
            &::before {
                border-color: $lightGreen;
            }
        }

        &::before {
            content: '';
            @include square(length(16));
            @include flex-center;
            position: absolute;
            top: 50%;
            left: length(-24);
            @include transform(translateY(-50%));
            @include border(solid, 1, $searchBorder);
            background: $white;
            @include transition(all $time ease);
        }

        &::after {
            content: '';
            position: absolute;
            top: length(-2);
            left: length(-19);
            width: length(6);
            height: length(12);
            @include border(solid, 2, $white);
            @include transform(rotate(45deg));
            border-top-color: transparent;
            border-left-color: transparent;
            opacity: 0;
            @include transition(opacity $time ease);
        }
    }
}

.form-floating {
    .form-control,
    .formlabel {
        @include text-14-14-medium-basefont;
    }

    .formlabel {
        color: $textGray-1;

        .required {
            color: $danger;
        }
    }
}

.form-select {
    @include text-14-14-medium-basefont;

    .option {
        font: inherit;
    }
}

.form-floating>.form-control{
    height: length(50);
}

.form-floating>.form-select {
    height: length(50);
}

.selectbox {
    height: length(50);
}