@import 'account';
@import 'blog';
@import 'contact';
@import 'faq';
@import 'filter';
@import 'home';
@import 'login';
@import 'pricing';
@import 'sfxhd';
@import 'jobs';
@import 'browse-sounds';
@import 'education';
@import 'licence';
@import 'terms-use';
@import 'privacy-policy';