.dark-header-wrapper {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    @include transition(all $time ease);
    background: $black;
    z-index: 250;

    &.shadowless {
        box-shadow: none;
    }
}

.dark-header {
    @include flex-center-vert;
    padding: length(0) length(30);
    margin: 0 auto;

    .brand {
        object-fit: contain;
        width: length(113);
        height: length(32);
        margin: length(19) length(44) length(20) length(0);
        display: flex;
        position: relative;

        &-title {
            @include text-20-14-semibold-basefont;
            color: $white;
        }

        .logo {
            @include flex-center-vert;
            gap: length(4);
            overflow: hidden;
            
            svg {
                width: length(24);
                @include square(length(24));

                path {
                    fill: $white;
                }
            }
        }
           
        @include breakpoint(phone768) {
            margin: length(0) auto;
            order: 1;
        }
    }

    .search-form,
    .responsive-search-form {
        background: $darkSearchbg;

        .btn-search {
            svg {
                path {
                    fill:rgba($white, 0.5);
                }
            }
        }

        .inputbox {
            .search-input {
                @include setBgColor(transparent, $white);

                &::placeholder {
                    color: $white;
                }
            }
        }
    }

    .main-nav {
        @include flex-center-vert;
        gap: length(28);
        margin-left: length(24);

        .main-list,
        .login-register-modal-list,
        .login-register-list,
        .social-list {
            @include list-horizontal;
        }

        .main-list {
            gap: length(24);

            &-item {
                color: $textPrimary;
            }

            .main-dropdown {
                position: relative;

                .dropdown-link {
                    padding: length(25) length(0);

                    &:hover ~ .dropdownmain {
                        display: block;
                    }
                }

                .dropdownmain {
                    background: $white;
                    position: absolute;
                    top: 220%;
                    left: -75%;
                    z-index: 450;
                    filter: $search-shadow;
                    display: none;

                    &::before {
                        content: '';
                        position: absolute;
                        top: length(-5);
                        left: 50%;
                        @include transform(translateX(-50%) rotate(45deg));
                        @include border(solid, 5, $white);
                        border-bottom-color: transparent;
                        border-right-color: transparent;
                        z-index: -1;
                        box-shadow: none;
                    }

                    .mail-text {
                        padding: length(4) length(32);
                        cursor: pointer;
                        @include text-30-12-normal-basefont;
                        color: $textGray-1;
                    }

                    .main-dropdown-menu {
                        position: absolute;
                        background: $white;
                        width: 100%;
                        @include list-vertical;

                        &-item {
                            

                            &:last-of-type {
                                .main-dropdown-link {
                                    @include border-single(top, solid, 1, $dropdown-border);
                                }
                            }
                        }

                        .main-dropdown-link {
                            padding: length(8) length(32);
                            @include text-20-14-normal-basefont;
                            display: inline-block;
                            width: 100%;
                            @include setBgColor(transparent, $textPrimary);
                            @include transition(background $time ease);

                            @include hover {
                                @include setBgColor($searchBg, $textPrimary);
                            }
                        }
                    }

                    &.show {
                        display: block;
                    }
                }
            }

            &-link {
                @include text-20-14-normal-basefont;
                color: $white;
                @include transition(color $time ease);

                @include hover {
                    color: $textPlaceholder;
                }
            }
        }
        
        .login-register-modal-list,
        .login-register-list {
            &-item {
                color: $textPrimary;
            }

            &-link {
                background: transparent;
                @include text-20-14-normal-basefont;
                color: $white;
                text-transform: uppercase;
                @include transition(color $time ease);

                @include hover {
                    color: rgba($white, 0.5);
                }
            }
        }

        .social-list {
            gap: length(14);
            padding: length(16) length(0);

            @include breakpoint(tablet991) {
                display: none;
            }

            &-link {
                i {
                    color: $textPlaceholder;
                    font-size:length(16);
                    @include transition(color $time ease);
                }

                @include hover {
                    i {
                        color: $socialHover;
                    }
                }
            }
        }
        
        @include breakpoint(phone768) {
            display: none;
        }
    }
    
    .hamburger-icon {
        @include transparent-button;
        @include square(length(32));
        @include double-radius(top, left, 4, bottom, left, 4);
        display: none;

        svg {
            width: 100%;
            height: 100%;

            path {
                fill:rgba($white, 0.5);
            }
        }
        
        @include breakpoint(phone768) {
            @include flex-center;
        }
    }

    .responsive-search {
        display: none;
        order: 3;

        .btn-responsivesearch {
            @include transparent-button;
            @include square(length(24));
            @include double-radius(top, left, 4, bottom, left, 4);
            @include flex-center;
            
            svg {
                width: 100%;
                height: 100%;
            }
        }

        // .responsive-search-box {
        //     // display: none;
        // }
               
        @include breakpoint(phone768) {
            display: block;
        }
    }
    
    .headermenu {
        @include flex-center-vert;
        width: 100%;
        position: relative;
        
        @include breakpoint(phone768) {
            justify-content: space-between;
        }
    }

    @include breakpoint(phone768) {
        flex-direction: column;
        gap: length(8);
        padding: length(16) length(20) length(14);
    }
}

.blog-header {
    background: $blogHeaderBg;
    @include flex-center-vert;

    &-content {
        @include flex-center-between;
        padding: length(0) length(24);

        .brand {
            object-fit: contain;
            width: length(113);
            height: length(32);
            margin: length(19) length(44) length(20) length(0);
            display: flex;
            position: relative;
    
            &-title {
                @include text-20-14-semibold-basefont;
                color: $white;
            }
    
            .logo {
                @include flex-center-vert;
                gap: length(4);
                overflow: hidden;
                
                svg {
                    width: length(24);
                    @include square(length(24));
    
                    path {
                        fill: $white;
                    }
                }
            }
        }

        .mainlist {
            @include list-horizontal;
            gap: length(4);

            &-item {
                padding: length(22);
                @include border-single(bottom, solid, 1, $blogHeaderBg);

                &:hover:not(.active) {
                    border-color: $accessActiveBg;
                }

                &.active {
                    border-color: $accessActiveBg;
                }
            }

            &-link {
                letter-spacing: length(2);
                color: $white;
                text-transform: uppercase;
                display: inline-block;
                @include text-12-12-bold-basefont;
                @include transition(color $time ease);

                @include hover {
                    color: rgba($white, 0.5);
                }
            }
        }

        .social-list {
            @include list-horizontal;
            gap: length(20);

            &-link {
                color: $white;
                @include transition(color $time ease);
                @include text-14-14-bold-basefont;

                @include hover {
                    color: rgba($white, 0.5);
                }
            }

            .btn-search {
                @include square(length(20));
                @include transparent-button;
                margin-top: length(4);

                svg {
                    path {
                        fill: $white;
                        @include transition(fill $time ease);
                    }
                }

                @include hover {
                    svg {
                        path {
                            fill: rgba($white, 0.5);
                        }
                    }
                }
            }
        }
    }
}

.blog-head {
    background: $black;
    @include flex-center-vert;
    @include border-single(bottom, solid, 1, rgba($white, 0.15));

    &-content {
        @include flex-center-between;
        padding: length(0) length(24);

        .brand {
            object-fit: contain;
            width: length(113);
            height: length(32);
            margin: length(19) length(44) length(20) length(0);
            position: relative;
            opacity: 0;
            visibility: hidden;
    
            &-title {
                @include text-20-14-semibold-basefont;
                color: $white;
            }
    
            .logo {
                @include flex-center-vert;
                gap: length(4);
                overflow: hidden;
                
                svg {
                    width: length(24);
                    @include square(length(24));
    
                    path {
                        fill: $white;
                    }
                }
            }
        }

        .social-list {
            @include list-horizontal;
            gap: length(20);
            opacity: 0;
            visibility: hidden;

            &-link {
                color: $white;
                @include text-14-14-bold-basefont;
                @include transition(color $time ease);

                @include hover {
                    color: rgba($white, 0.5);
                }
            }

            .btn-search {
                @include square(length(20));
                @include transparent-button;
                margin-top: length(4);

                svg {
                    path {
                        fill: $white;
                        @include transition(fill $time ease);
                    }
                }

                @include hover {
                    svg {
                        path {
                            fill: rgba($white, 0.5);
                        }
                    }
                }
            }
        }
    }

    &.sticky-head {
        position: sticky;
        top: 0;
        
        .brand, .social-list {
            opacity: 1;
            visibility: visible;
        }
    }
}

.blog-nav {
    .bloglist {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;

        &-item {
            display:inline-block;
            padding: length(22);

            .dropdownlink {
                letter-spacing: length(2);
                color: $white;
                text-transform: uppercase;
                display: inline-block;
                @include text-12-12-bold-basefont;
                @include transition(color $time ease);

                @include hover {
                    color: rgba($white, 0.5);
                }
            }

            .submenu {
                @include list-vertical;
                background: $dropdownBg;
                position: absolute;
                top: 100%; 
                min-width: length(244);
                padding: length(18);
                gap: length(4);
                display: none;

                @extend %animation;
                @extend %slideUpIn;

                &-link {
                    display: inline-block;
                    padding: length(5) length(10);
                    width: 100%;
                    @include text-14-14-normal-basefont;
                    @include setBgColor(transparent, $white);
                    @include transition(all $time ease);

                    @include hover {
                        background: rgba($white, 0.03);
                        @include setBgColor(rgba($white, 0.03), rgba($white, 0.5));
                    }
                }
            }

            &:hover > .submenu {
                @include flex-column;
            }
        }

        &-link {
            letter-spacing: length(2);
            color: $white;
            text-transform: uppercase;
            display: inline-block;
            @include text-12-12-bold-basefont;
            @include transition(color $time ease);

            @include hover {
                color: rgba($white, 0.5);
            }
        }
    }
}