.footer {
    padding: length(50) length(0);
    background: $black;

    &-content {
        @include flex-column;
        gap: length(50);

        .footer-infos {
            display: flex;

            @include breakpoint(phone768) {
                flex-direction: column;
                gap: length(20);
            }

            .footer-logo {
                width: 25%;
                @include flex-column;
                gap: length(24);
            
                @include breakpoint(phone768) {
                    width: 100%;
                    @include flex-center;
                }

                .logo {
                    width: length(200);

                    img {
                        max-width: 80%;
                    }
                }
            }

            .footer-nav {
                @include flex-between;
                width: 55%;

                @include breakpoint(phone768) {
                    width: 100%;
                    @include flex-center-column;
                    gap: length(20);
                }

                .footlist-info {
                    @include flex-column;
                    gap: length(20);

                    @include breakpoint(phone768) {
                        text-align: center;
                    }

                    .footlist-title {
                        @include text-20-16-normal-basefont;
                        color: $white;
                    }

                    .footlist {
                        @include list-vertical;
                        gap: length(10);

                        &-link {
                            @include text-20-14-normal-basefont;
                            color: rgba($white, 0.5);
                            @include transition(color $time ease);

                            @include hover {
                                color: rgba($white, 0.3);
                            }
                        }
                    }
                }
            }

            .social-list {
                @include list-horizontal;
                align-items: flex-start;
                justify-content: flex-end;
                gap: length(20);
                padding: 0 length(0);
                width: 25%;
            
                @include breakpoint(phone768) {
                    width: 100%;
                    justify-content: center;
                }
    
                &-link {
                    i {
                        color: rgba($white, 0.5);
                        font-size:length(18);
                        @include transition(color $time ease);
                    }
    
                    @include hover {
                        i {
                            color: rgba($white, 0.3);
                        }
                    }
                }
            }
        }

        .copyright {
            &-text {
                @include text-20-14-normal-basefont;
                color: rgba($white, 0.5);
                text-align: center;
            }
        }
    }
}

.blog-footer {
    .footer-content {
        .footer-infos {
            @include breakpoint(tablet991) {
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
            }

            .footer-logo {
                width: 20%;
                @include flex-column;
                gap: length(24);

                @include breakpoint(tablet991) {
                    width: 33%;
                    align-items: center;
                }
            
                @include breakpoint(phone768) {
                    width: 100%;
                    @include flex-center;
                }
            }

            .footlist-info {
                @include flex-column;
                gap: length(20);
                width: 20%;

                @include breakpoint(tablet991) {
                    width: 33%;
                    align-items: center;
                    text-align: center;
                }

                @include breakpoint(phone768) {
                    text-align: center;
                    width: 100%;
                }

                .footlist-title {
                    @include text-20-16-normal-basefont;
                    color: $white;
                }

                .footlist {
                    @include list-vertical;
                    gap: length(10);

                    &-link {
                        @include text-20-14-normal-basefont;
                        color: rgba($white, 0.5);
                        @include transition(color $time ease);

                        @include hover {
                            color: rgba($white, 0.3);
                        }
                    }
                }
            }

            .social-list {
                @include list-horizontal;
                align-items: flex-start;
                justify-content: flex-end;
                gap: length(20);
                padding: 0 length(0);
                width: 20%;

                @include breakpoint(tablet991) {
                    width: 33%;
                    justify-content: center;
                    margin-top: length(24);
                }
            
                @include breakpoint(phone768) {
                    width: 100%;
                    justify-content: center;
                }
    
                &-link {
                    i {
                        color: rgba($white, 0.5);
                        font-size:length(18);
                        @include transition(color $time ease);
                    }
    
                    @include hover {
                        i {
                            color: rgba($white, 0.3);
                        }
                    }
                }
            }
        }
    }
}

.puresounds-footer {
    background: $black;
    padding: length(56) length(0);

    &-content {
        .copyright {
            @include flex-center-between;
    
            @include breakpoint(phone575) {
                flex-direction: column;
                align-items: flex-start;
                gap: length(24);
            }
        }

        .copyright-text {
            @include text-20-14-normal-basefont;
            color: $footerText;

            .copyright-icon {
                font: inherit;
                color: inherit;
            }
        }

        .socialmenu {
            @include list-horizontal;
            gap: length(10);

            &-link {
                color: $footerText;
                @include transition(color $time ease);
                @include square(length(30));
                @include flex-center;

                @include hover {
                    color: gray;
                }
            }
        }
    }
}