.login-modal,
.register-modal {
    .modal-content {
        padding: length(56);
        @include flex-center-column;
        gap: length(32);

        .modal-header {
            @include flex-center-column;
            gap: length(8);
            border: none;
            padding: 0;
            width: 100%;

            .modal-title {
                @include log-reg-font-style;
                
            }

            .btn-close {
                background: transparent;
                @include square(length(32));
                @include flex-center;
                padding: 0;
                margin: 0;
                position: absolute;
                top: length(32);
                right: length(32);
                

                svg {
                    @include transition(transform $time ease);

                    path {
                        @include transition(fill $time ease);
                    }
                }

                @include hover {
                    svg {
                        @include transform(rotate(360deg));
    
                        path {
                            color: red;
                        }
                    }
                }
            }
        }

        .modal-body {
            padding: 0;
            width: 100%;
        }

        .modal-footer {
            padding: 0;
            width: 100%;
            border: none;
            @include flex-center;

            .form-text {
                color: $textGray-1;
                text-align: center;

                .btn-modal {
                    @include transparent-button;
                    color: $textGray-1;
                    @include text-20-14-semibold-basefont;
                    @include transition(color $time ease);

                    @include hover {
                        color: $featured-category-title;
                    }
                }
            }
        }
    }
}

.login-form,
.register-form,
.reset-form {
    @include flex-center-column;
    gap: length(20);
    width: 100%;

    .form-floating {
        width: 100%;
        position: relative;

        .form-control {
            width: 100%;
            @include border(solid, 1, $searchBorder);
            color: $textPrimary;
            @include text-24-16-normal-basefont;
            @include transition(border $time ease);

            @include breakpoint(phone500) {
                @include text-20-14-normal-basefont;
            }

            &:focus {
                outline: none;
                box-shadow: none;
                border-color: $textGray-1;
            }
        }

        .formlabel {
            color: $textGray-1;
            @include text-24-16-normal-basefont;
            @include flex-center-between;

            .required {
                color: red;
                margin-left: length(4);
            }
        }

        .passlabel,
        .passinput {
            padding-right: length(146);
        }

        .forgot-text {
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            right: length(12);
            color: $textPrimary;
            @include text-30-12-normal-basefont;
            @include transition(color $time ease);

            @include hover {
                color: $accessActiveHoverBg;
            }
        }
    }

    .submit-form {
        width: 100%;
        @include flex-column;
        gap: length(24);

        .btn-submit {
            width: 100%;
            @include setBgColor($accessActiveBg, $white);
            border: none;
            padding: length(13) length(16);
            @include radius(4);
            @include flex-center;
            @include transition(all $time ease);

            @include breakpoint(phone500) {
                @include text-20-14-semibold-basefont;
            }

            @include hover {
                @include setBgColor($accessActiveHoverBg, $white);
            }
        }

        .btn-reset {
            width: 100%;
            @include setBgColor($white, $textPrimary);
            @include radius(4);
            padding: length(13) length(16);
            @include transition(background $time ease);
            @include border(solid, 1, $bgnBorder);
            @include text-24-16-semibold-basefont;

            @include breakpoint(phone500) {
                @include text-20-14-semibold-basefont;
            }

            @include hover {
                background: $accessBtnBg;
            }
        }

        .form-text {
            .btn-puresound {
                @include transition(color $time ease);
                color: $accessActiveBg;

                @include hover {
                    color: $accessActiveHoverBg;
                }
            }
        }
    }
}

.register-form {
    .pretty {
        margin-bottom: length(20);
        width: 100%;

        @include breakpoint(tablet991) {
            margin-left: length(20);
        }

        input {
            min-width: 25%;
            width: 40%;
        }
    }
}