.mobile-menu-sidebar {
    .mobmenu {
        width: length(300);
        background: black;

        .offcanvas-header {
            padding: length(15);

            .logo {
                @include flex-center-vert;
                gap: length(4);
                overflow: hidden;
                
                svg {
                    width: length(24);
                    @include square(length(24));
                    margin-left: length(8);
                }

                &-text {
                    @include text-20-14-semibold-basefont;
                    color: $featured-category-title;
                }
            }

            .btn-close {
                @include transparent-button;
                margin: 0;
                @include flex-center;

                svg {
                    @include transition(transform $time ease);

                    path {
                        fill: $white;
                    }
                }

                @include hover {
                    svg {
                        @include transform(rotate(360deg));

                        path {
                            fill: $lightGreen;
                        }
                    }
                }
            }
        }

        .offcanvas-body {

            .mobile-nav {
                @include flex-column;
                gap: length(12);
                padding: length(0) length(24);

                .mobilemenu {
                    @include flex-column;
                    gap: length(18);

                    .divider {
                        height: length(1);
                        background: rgba($white, 0.2);
                        margin: 0 length(-24);
                    }

                    .loggedmenu {
                        .loggedmail {
                            @include text-30-12-normal-basefont;
                            color: $textGray-1;
                        }

                        .profilemenu {
                            @include list-vertical;

                            &-link {
                                @include text-20-14-semibold-basefont;
                                line-height: 2.5;
                                color: rgba($mobilemenuLink, 0.3);
                                @include transition(color $time ease);

                                &:hover:not(.active) {
                                    color: $featured-category-title;
                                }

                                &.active {
                                    color: $featured-category-title;
                                }
                            }
                        }
                    }
                }

                .change-language {
                    .form-select {
                        @include text-20-14-normal-basefont;
                        color: $textPrimary;
                        padding: length(6) length(30) length(6) length(12);
                        max-width: 30%;
                
                        option {
                            font: inherit;
                            color: inherit;
                        }
                    }
                }
            }
            
            .mobile-menu-list,
            .mobilelogin-register-modal-list,
            .mobilelogin-register-list {
                @include list-vertical;
            }
            
            .mobile-menu-list {
                gap: length(12);

                &-item {
                    color: $white;
                }

                &-link {
                    @include text-20-16-normal-basefont;
                    color: $white;
                    @include transition(color $time ease);

                    @include hover {
                        color: $textPlaceholder;
                    }
                }
            }
        
            .mobilelogin-register-modal-list,
            .mobilelogin-register-list {
                gap: length(12);

                &-item {
                    color: $white;
                }

                &-link {
                    background: transparent;
                    @include text-20-16-normal-basefont;
                    text-transform: uppercase;
                    @include transition(color $time ease);
                    color: $white;

                    @include hover {
                        color: $textPlaceholder;
                    }
                }
            }
        }
    }
}

.offcanvas {
    width: length(300);

    &-header {
        .offcanvas-title {
            @include text-28-18-semibold-basefont;
            color: $textPrimary;
        }

        .btn-close {
            background: transparent;
            margin: length(0);
            padding: length(0);
            @include square(length(24));

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }

    &-body {
        scroll-behavior: smooth;
        padding: length(0);

        &::-webkit-scrollbar-track {
            @include radius(10);
        }

        &::-webkit-scrollbar {
            width: length(5);
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            @include radius(10);
            background-color: $socialHover;
        }

        .accordion {
            &-item {
                padding: length(20);
                border: 0;
                @include border-single(bottom, solid, 1, $filterBorder);
                @include flex-column;

                &:last-of-type {
                    border-bottom: 0
                }

                .sorting,
                .length,
                .tags,
                .categories,
                .libraries {
                    @include flex-center-between;
                    margin-bottom: length(12);

                    .title {
                        @include text-20-16-semibold-basefont;
                        color: $bgnBorder;
                        width: calc(100% - 2.25rem);
                    }

                    .accordion-header {
                        @include square(length(36));

                        .accordion-button {
                            box-shadow: none;
                            border-radius: 0;
                            @include setBgColor(transparent, $textGray-1);
                            padding: 0;
                            @include square(length(36));
                            @include flex-end;

                            svg {
                                path {
                                    fill: $textGray-1;
                                }
                            }

                            &.collapsed {
                                svg {
                                    @include transform(rotate(180deg));

                                    path {
                                        fill: $textGray-1;
                                    }
                                }
                            }
                            
                            &::before,
                            &::after {
                                background: transparent;
                                content: '';
                                width: 0;
                                height: 0;
                                display: none;
                            }

                            &::after {
                                margin-left: 0;
                            }
                        }
                    }
                }

                .accordion-body {
                    padding: 0;
                    @include flex-column;
                    gap: length(16);

                    .sorting-buttons {
                        @include flex-center;
                        gap: length(12);
                    }

                    .sidebar-tags {
                        @include flex-column;
                        gap: length(16);

                        .tag-buttons-mobile {
                            @include flex-center-between;
                            flex-wrap: wrap;
                            gap: length(14);
                            max-height: length(235);
                            overflow: hidden;

                            &.show {
                                max-height: 100%;
                            }
                        }

                        .btn-showless-mobile {
                            display: inline-block;
                            text-align: left;
                            max-width: 40%;
                            @include transparent-button;
                            @include text-20-14-medium-basefont;
                            color: $accessActiveBg;
                            @include transition(color $time ease);

                            @include hover {
                                color: $accessActiveHoverBg;
                            }
                        }
                    }

                    .library-tags {
                        @include flex-column;
                        gap: length(16);

                        .library-buttons-mobile {
                            @include flex-center-between;
                            flex-wrap: wrap;
                            gap: length(14);
                            max-height: length(530);
                            overflow: hidden;

                            &.show {
                                max-height: 100%;
                            }
                        }

                        .btn-showall-mobile {
                            display: inline-block;
                            text-align: left;
                            max-width: 40%;
                            @include transparent-button;
                            @include text-20-14-medium-basefont;
                            color: $accessActiveBg;
                            @include transition(color $time ease);

                            @include hover {
                                color: $accessActiveHoverBg;
                            }
                        }
                    }

                    .ranges {
                        .multi-range {
                            .range-update {
                                @include flex-center-vert;
                                gap: length(12);

                                .input-range {
                                    @include flex-center-vert;
                                    gap: length(8);
                                    
                                    .from,
                                    .to {
                                        width: length(50);
                                        @include radius(4);
                                        padding: length(4);
                                        color: $textGray-1;
                                        text-align: center;
                                        @include border(solid, 1, $searchBorder);
                                        @include text-20-14-normal-basefont;
                                    }
                                }

                                .btn-update {
                                    @include transparent-button;

                                    .updateicon {
                                        display: none;
                                    }

                                    .updatetext {
                                        @include text-30-12-normal-basefont;
                                        color: $accessActiveHoverBg;
                                    }
                                }
                            }
                        }
                    }

                    .accordion-item {
                        padding: length(0);

                        .allcategories {
                            .categoryall-mobile {
                                max-height: length(235);
                                overflow-y: scroll;

                                &::-webkit-scrollbar-track {
                                    @include radius(5);
                                }
                        
                                &::-webkit-scrollbar {
                                    width: length(4);
                                    background: transparent;
                                }
                        
                                &::-webkit-scrollbar-thumb {
                                    @include radius(5);
                                    background-color: $socialHover;
                                }
                        
                                &.show {
                                    max-height: 100%;
                                }

                                .singlecategory {
                                    .categories {
                                        .checkmark {
                                            @include flex-center-vert;
                                            gap: length(14);
                    
                                            .checkmarkvalue {
                                                @include text-14-14-normal-basefont;
                                                color: $checkmarkvalue;
                                                display: inline-block;
                                                width: length(25);
                                            }
                                        }
            
                                        .accordion-header {
                                            @include square(length(36));
                                        }
                                    }
                                }
                            }
                        }

                        
                        .btn-seeall-mobile {
                            display: inline-block;
                            text-align: left;
                            max-width: 40%;
                            @include transparent-button;
                            @include text-20-14-medium-basefont;
                            color: $accessActiveBg;
                            @include transition(color $time ease);
                
                            @include hover {
                                color: $accessActiveHoverBg;
                            }
                        }
                        
                        
                        .checkmarks {
                            @include flex-column;
                            gap: length(20);
                            margin-left: length(24);

                            .checkmark {
                                @include flex-center-vert;
                                gap: length(12);

                                .checkmarkvalue {
                                    @include text-14-14-normal-basefont;
                                    color: $checkmarkvalue;
                                    display: inline-block;
                                    width: length(25);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &-footer {
        padding: length(12) length(30);
        @include border-single(top, solid, 1, $filterBorder);

        .update-results {
            @include flex-center;
            gap: length(5);
            @include border(solid, 1, $bgnBorder);
            padding: length(12) length(24);
            @include radius(4);

            .text {
                @include text-20-14-semibold-basefont;
                color: $textPrimary;
            }

            .counters {
                @include flex-center;
                @include text-20-14-semibold-basefont;
                color: $textPrimary;

                span {
                    font: inherit;
                    color: inherit;
                }
            }
        }
    }
}

.offcanvas-top {
    width: 100%;
    height: 100vh;
    background: rgba(20, 22, 24, 0.95);

    .btn-close {
        @include square(length(40));
        margin: 0;
        padding: 0;
        @include flex-center;
        opacity: 1;
        position: absolute;
        top: length(24);
        right: length(48);

        svg {
            @include square(length(20));
        }
    }

    .offcanvas-body {
        height: 100vh;
        @include flex-center;

        .blog-searchbox {
            background: transparent;
            @include flex-center-vert;
            @include border(solid, 1, rgba($white, 0.25));
            height: length(64);
            @include radius(4);
            overflow: hidden;
            @include transition(border $time ease);
            padding: length(16);

            .searchfield {
                padding: length(20);
                width: calc(100% - 4rem);
                background: transparent;
                border: none;
                color: $white;
                @include text-24-20-normal-basefont;

                &::placeholder {
                    color: $white;
                }
            }

            .search-btn {
                padding: length(20);
                @include square(length(64));
                background: transparent;

                svg {
                    @include square(length(24));
                    margin-right: length(-24);
                }
            }

            &:focus-within {
                border-color: rgba($white, 0.1);
            }
        }
    }
}